@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  background-color: #9c835f;
}
.game-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 60px;
  color: #f9b23d;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.game {
  margin: auto;
  display: flex;
  height: 700px;
  justify-content: space-evenly;
  align-items: center;
}
.player1,
.computer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  height: 100px;
  flex-direction: column;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 271.11px;
  height: 166.93px;
  border-radius: 10px;
  transform: rotate(-388.87deg);
  background-color: #4c9654;
  padding: 20px;
  border-radius: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transition: 1s;
}
.result p {
  background-color: #4c9654;
  padding: 20px;
  border-radius: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.versus {
  width: 271.11px;
  height: 166.93px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bd0000;
}
.game-title {
  display: flex;
  align-items: center;
}
.game-title h1 {
  padding-left: 20px;
  margin-right: 16px;
}
.font-weight-bold {
  margin-left: 20px;
}

.game-title img {
  width: 72px;
  height: 72px;
  margin-left: 20px;
}
.game img {
  padding: 20px;
}
.game img:hover {
  cursor: pointer;
  background-color: #c4c4c4;
  border-radius: 30px;
}
.refresh-game {
  display: flex;
  justify-content: center;
}
.refresh-game img {
  cursor: pointer;
}
